@page
@model RestaurantOrderManager.Views.Home.OrderDetail

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Order Detail</title>
</head>
<body>
<div>
    <h1>This is Order Detail View</h1>
    
</div>
</body>
</html>